body {
  background-color: #EFEFF0 !important;
  height: auto;
}

.container {
  max-width: 1600px;
}

.form-container {
  padding: 120px 0 50px 0;
}

.section-header {
  font-weight: 500;
}

.section-body {
  background-color:white;
  margin-bottom: 30px;
}

.table-header {
  width: 100%;
}

th {
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  color: #7D8790;
  width: 320px;
  padding: 10px;
  text-align: center;
}
  th:nth-child(1) {
    width: 25%;
  }

  th:nth-child(2) {
    width: 15%;
  }

  th:nth-child(3) {
    width: 13%;
  }

  th:nth-child(4) {
    width: 13%;
  }

  th:nth-child(8) {
    width: 10%;
  }

td {
  text-align: center;
  height: auto;
  padding: 8px 2px;
}

td:nth-child(2) {
  color: #005691;
  font-weight: 550;
}

table {
  border: 1px solid #D4D7DA;
}

tr {
  border-bottom: solid #D4D7DA 0.5px;
}

button {
  border: none;
  background-color: white;
}

.mat-icon {
  transform: scale(1.5);
  width: 50px;
  vertical-align: text-bottom;
}

