body {
  background-color:#EFEFF0 !important;
  height: auto;
}

.container {
  max-width: 1600px;
}

.form-container {
  padding: 120px 0 50px 0;
}

.section-header {
  font-weight: 500;
}

.section-body {
  background-color:white;
  margin-bottom: 30px;
}

.table-header {
  width: 100%;
}

table {
  border: 1px solid #D4D7DA;
}

th {
  background-color: white;
  font-weight: 600;
  font-size: 17px;
  color: #7D8790;
  width: 320px;
  padding: 10px;
  text-align: center;
}

th:nth-child(1) {
    width: 18%;
  }

  th:nth-child(2) {
    width: 12%;
  }

tr {
  border-bottom: solid #D4D7DA 0.5px;
}

td {
  text-align: center;
  padding: 8px 2px;
  border-bottom: solid #D4D7DA 0.5px;
}

td:nth-child(2) {
  color: #005691;
  font-weight: 550;
}

button {
  border: none;
  background-color: white;
}

.mat-icon {
  transform: scale(1.5);
  width: 50px;
  vertical-align: text-bottom;
}

 .group-box {
  background-color: white !important;
  width: 30%;
  padding: 20px 20px;
  margin: 20px;
}

  .group-box.summary input {
    background-color: white;
  }

  .group-box.summary label {
    margin-bottom: -50px;
  }

  .group-box.financial-report {
    background-color: white !important;
    width: 25%;
    padding: 20px 20px;
    margin: 20px;
  }

  .group-box.financial-report label {
    margin-bottom: -50px;
  }

  .waiting-for-approval-category, .approved-category, .postponed-category, .declined-category, .implemented-category {
    font-weight: 600;
  }

  .waiting-for-approval-category {
    color: blue;
  }

  .approved-category {
    color: #006249;
  }

  .postponed-category {
    color: #525F6B;
  }

  .declined-category {
    color: #EA0016;
  }

  .implemented-category {
    color: #3C1A5F;
  }


