<body>
  <div class="container form-container">
    <form #submitIdeaForm="ngForm" class="submit-idea__form">
      <div #ideaCreatorTitle class="row">
        <h1 class="section-header"><mat-icon svgIcon="address-book"></mat-icon>Idea Owner Information</h1>
      </div>
      <div class="row section-body">
        <div class="a-text group-box">
          <label class="special__label">Name of idea owner</label>
          <p>{{addIdeaInfoDto.associateName}}</p>
          <div class="a-toggle" id="is-resposible-toggle">
            <mat-icon svgIcon="box-questionmark"></mat-icon>
            <label class="a-toggle__left-label" id="responisble-toggle__label" for="toggle-default-left-label">
              Is responsible for the implementation
            </label>
            <input #isResponsibleForImplementation="ngModel" [(ngModel)]="model.isAssociateResponsible"
              type="checkbox"
              id="toggle-default-left-label"
              name="toggle-default-left-label"/>
            <label class="a-toggle__box" for="toggle-default-left-label"></label>
          </div>
        </div>
        <div class="department-info">
          <div class=" container a-text group-box-horizontal">
            <div class="row">
              <div class="col-sm a-text horizontal-text-box">
                <label>Group</label>
                <p>{{addIdeaInfoDto.group}}</p>
              </div>
              <div class="col-sm a-text horizontal-text-box">
                <label class="">Group Leader</label>
                <p>{{addIdeaInfoDto.groupLeaderName}}</p>
              </div>
            </div>
          </div>
          <div class="container a-text group-box-horizontal">
            <div class="row">
              <div class="col-sm a-text horizontal-text-box">
                <label>Department</label>
                <p>{{addIdeaInfoDto.department}}</p>
              </div>
              <div class="col-sm a-text horizontal-text-box">
                <label class="">Department Leader</label>
                <p>{{addIdeaInfoDto.departmentLeaderName}}</p>
              </div>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'display': model.isAssociateResponsible === false ? 'initial' : 'none'}" class="a-text group-box summary">
          <label>Name of the person who is responsible for the implementation: </label>
          <p-autoComplete [(ngModel)]="model.implementationResponsible" [suggestions]="filteredUsers" [ngModelOptions]="{standalone: true}"
              (completeMethod)="filterUsers($event)" [minLength]="1" field="displayName"  class="user-search">
            <ng-template let-user pTemplate="item">
                <div>
                    <div>{{user.displayName}}</div>
                    <label>{{user.userName}}</label>
                </div>
            </ng-template>
        </p-autoComplete>
        </div>
      </div>
      <div class="row">
        <h1 class="section-header"><mat-icon svgIcon="summary"></mat-icon> Idea Summary</h1>
      </div>
      <div class="row section-body">
        <div class="a-text idea-number">
          <div class="idea-number__label">
            Predicted Idea Number
          </div>
          <div class="idea-number__text">
            {{addIdeaInfoDto.predictedIdeaNumber}}
          </div>
        </div>
        <div class="a-text group-box summary">
          <div class="idea-summary-input">
            <label for="idea-title">Idea title</label>
            <div>
              <textarea class="form-control"
                [rows]="1" [cols]="148" pInputTextarea autoResize="autoResize"
                #ideaTitle="ngModel" id="idea-title" required
                aria-describedby="title-error"
                [(ngModel)]="model.title" name="idea-title">
              </textarea>
              <small id="title-error" *ngIf="ideaTitle.invalid && (ideaTitle.dirty || ideaTitle.touched || isSubmissionButtonClicked)" class="p-error">
                Idea title is mandatory!
              </small>
            </div>
          </div>
          <div class="idea-summary-input">
            <label>Current context</label>
            <div>
              <textarea class="form-control" #currentContext="ngModel" [rows]="1" [cols]="148" pInputTextarea autoResize="autoResize"
                id="current-context" required [(ngModel)]="model.context" name="current-context">
              </textarea>
              <small *ngIf="currentContext.invalid && (currentContext.dirty || currentContext.touched || isSubmissionButtonClicked)" class="p-error">
                Current context is mandatory!
              </small>
            </div>
          </div>
          <div class="idea-summary-input">
            <label>Target state</label>
            <div>
              <textarea type="text" class="form-control" [rows]="1" [cols]="148" pInputTextarea autoResize="autoResize"
                #targetState="ngModel" id="target-state" required [(ngModel)]="model.target" name="target-state">
              </textarea>
              <small *ngIf="targetState.invalid && (targetState.dirty || targetState.touched || isSubmissionButtonClicked)" class="p-error">
                Target state is mandatory!
              </small>
            </div>
          </div>
        </div>
        <div class="a-text group-box summary">
          <div class="a-text">
            Categories
            <button title="Add other category" class="add-category-button" (click)="selectOtherCategory()"><mat-icon svgIcon="square-add"></mat-icon></button>
          </div>
          <div class="container categories-box">
            <div class="row">
              <button *ngFor="let category of selectedCategories" [ngClass]="category.selected ? 'selected' : 'not-selected'"
              (click)="selectCategory(category)">{{category.text}}</button>
            </div>
            <div class="row a-text-field other" *ngIf="this.isOtherCategoryDisplayed">
              <div class="other-label">Other: </div>
              <div class="other-category">
                <input type="text" class="form-control" #currentContext="ngModel" id="other-category" required [(ngModel)]="otherCategoryTitle" name="other-category"/>
              </div>
              <button (click)="addOtherCategory()" class="add-other-category-btn">
                Add
              </button>
            </div>
          </div>
        </div>
        <div class="a-text group-box date">
          <div class="idea-summary-input-date">
            <label pTooltip="The date when the idea responsible is planning to start implementing the idea" tooltipPosition="right">Planned implementation date <strong>*</strong></label>
            <div class="a-text-field">
              <input type="date" class="form-control"
                id="idea-planned-implentation-date" required
                #ideaPlannedImplementationDate="ngModel"
                [(ngModel)]="model.doDate" name="idea-implementation-date"/>
            </div>
            <small *ngIf="ideaPlannedImplementationDate.invalid && (ideaPlannedImplementationDate.dirty || ideaPlannedImplementationDate.touched || isSubmissionButtonClicked)"
                class="p-error">Planned implementation date is mandatory!</small>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="section-header"><mat-icon svgIcon="plan-a-to-b"></mat-icon> Idea Description & Attachments</h1>
      </div>
      <div class="row section-body">
        <div class="idea-description-box">
          <div id="idea-description-label" class="a-text">Idea Description</div>
          <p-editor id="idea-description-editor" [style]="{'min-height': '400px'}"
          name="idea-description" #ideaDescription="ngModel" [(ngModel)]="model.richTextDescription"
          (onSelectionChange)="touchDescriptionEditor()" (onTextChange)="touchDescriptionEditor()"></p-editor>
          <small *ngIf="(isDescriptionEditorTouched || isSubmissionButtonClicked) && (model.richTextDescription === null || model.richTextDescription === undefined)"
            class="p-error">Description is mandatory!</small>
        </div>
        <div class="idea-description-right-column">
          <div class="idea-description-group-box">
            <div class="attachments-header">
              Attachments
              <button class="upload-button"
                (click)="fileInput.click()">
                <mat-icon svgIcon="link"></mat-icon>
                <input type="file" #fileInput placeholder="Choose file" (change)="uploadFile(fileInput.files)" style="display: none;">
              </button>
              <p-progressBar [value]="fileUploadProgress"></p-progressBar>
            </div>
            <ul id="attachment__list">
              <li *ngFor="let attachment of attachmentList" class="attachment__list-item">
                <div class="attachment">
                  {{attachment.name}}
                  <button (click)="removeAttachment(attachment)">
                    <mat-icon svgIcon="close"></mat-icon>
                  </button>
                </div>
                <p>
                  Uploaded at: <span>{{currentDate | date:'dd/MM/yyyy'}}</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="section-header"><mat-icon svgIcon="cash-frame"></mat-icon> Financial Report & Bonus</h1>
      </div>
      <div class="row section-body">
        <div class="group-box financial-report">
          Financial Report
          <br>
          <div class="financial-report-values planned">
            <div class="">
              <label>Planned Savings</label>
              <div class="a-text-field">
                <input type="number" name="savings" [(ngModel)]="plannedSavings" #savingsInput="ngModel" placeholder="0"/>€
              </div>
              <small *ngIf="plannedSavings < 0 && (savingsInput.dirty || savingsInput.touched)" class="p-error">This value should be non-negative!</small>
            </div>
            <div class="">
              <label>Planned Expenses</label>
              <div class="a-text-field">
                <input type="number" name="savings" [(ngModel)]="plannedExpenses" #expensesInput="ngModel" placeholder="0"/>€
              </div>
              <small *ngIf="plannedExpenses < 0 && (expensesInput.dirty || expensesInput.touched)" class="p-error">This value should be non-negative!</small>
            </div>
            <div class="a-text computed-financial-report">
              <label class="special__label">Planned Balance</label>
              <p>{{(plannedSavings === undefined || plannedExpenses === undefined) ? 0 : (plannedSavings - plannedExpenses)}}€</p>
            </div>
            <div class="a-text computed-financial-report">
              <label class="special__label">Planned Bonus</label>
              <p>{{this.getBonusValue(plannedSavings - plannedExpenses)}}€</p>
            </div>
          </div>
          <div class="financial-report-values actual">
            <div class="">
              <label>Actual Savings</label>
              <div class="a-text-field">
                <input type="number" name="savings" [(ngModel)]="actualSavings" #savingsInput="ngModel" placeholder="0"/>€
              </div>
              <small *ngIf="actualSavings < 0 && (savingsInput.dirty || savingsInput.touched)" class="p-error">This value should be non-negative!</small>
            </div>
            <div class="">
              <label>Actual Expenses</label>
              <div class="a-text-field">
                <input type="number" name="savings" [(ngModel)]="actualExpenses" #expensesInput="ngModel" placeholder="0"/>€
              </div>
              <small *ngIf="actualExpenses < 0 && (expensesInput.dirty || expensesInput.touched)" class="p-error">This value should be non-negative!</small>
            </div>
            <div class="a-text computed-financial-report">
              <label class="special__label">Actual Balance</label>
              <p>{{(actualSavings === undefined || actualExpenses === undefined) ? 0 : (actualSavings - actualExpenses)}}€</p>
            </div>
            <div class="a-text computed-financial-report">
              <label class="special__label">Actual Bonus</label>
              <p>{{this.getBonusValue(actualSavings - actualExpenses)}}€</p>
            </div>
          </div>
        </div>
        <div class="group-box bonus">
          <div class="bonus-label">Bonus</div>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="lower-bound">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Lower Bound </th>
              <td mat-cell *matCellDef="let element"> {{element.lowerLimit}}€ </td>
            </ng-container>

            <ng-container matColumnDef="upper-bound">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Upper Bound </th>
              <td mat-cell *matCellDef="let element"> {{element.upperLimit}}€ </td>
            </ng-container>

            <ng-container matColumnDef="award">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Award </th>
              <td mat-cell *matCellDef="let element"> {{element.bonusValue}}€ </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
              *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{'highlight': (actualSavings === undefined || actualExpenses === undefined) ?
                0 >= row.name && 0 < row.weight :
                (actualSavings - actualExpenses) >= row.lowerLimit && (actualSavings - actualExpenses) < row.upperLimit}">
            </tr>
          </table>
        </div>
      </div>
      <div class="row submit-area">
        <button class="form-btn" (click)="showIdeaSimilarityDialog()">
          <mat-icon svgIcon="registration"></mat-icon>
          Submit
        </button>
        <button class="form-outlined-btn" (click)="redirectToHome()">
          <mat-icon svgIcon="close-blue"></mat-icon>
          Cancel
        </button>
      </div>
    </form>
  </div>
  <p-toast position="bottom-right"></p-toast>
  <p-dialog header="Similarity computation"
    [(visible)]="isIdeaSimilarityDialogDisplayed" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div>
      <div *ngIf="this.similarityComputationProgress === false"><p-progressSpinner></p-progressSpinner></div>
      <div *ngIf="this.similarityComputationProgress === true && similarIdeas?.length === 0">No similar ideas found</div>
      <div *ngIf="this.similarityComputationProgress === true && similarIdeas?.length > 0">
        <div class="similar-ideas-subtitle">It looks like there are some similar ideas in this tool</div>
        <div *ngFor="let similarIdea of similarIdeas">
          <div class="a-text-field">
            <mat-icon *ngIf="similarIdea.similarity < 70" svgIcon="alert-warning"></mat-icon>
            <mat-icon *ngIf="similarIdea.similarity >= 70" svgIcon="alert-error"></mat-icon>
            <a href="{{baseUrl}}ideas/all-ideas/details/{{similarIdea.id.toLowerCase()}}">{{similarIdea.title}}</a>
            is {{similarIdea.similarity | number: '1.2-2'}}% similar to your idea
          </div>
        </div>
      </div>
    </div>
    <div class="similarity-dialog__footer">Are you sure you want to proceed?</div>
    <p-footer>
      <button pButton type="button" icon="pi pi-times" label="Cancel" class="p-button-outlined p-button-info" (click)="hideIdeaSimilarityDialog()"></button>
      <button pButton type="button" icon="pi pi-check" label="Confirm" class="p-button-info" (click)="submitIdea()"></button>
    </p-footer>
  </p-dialog>
</body>
