<body>
  <div class="container details-container">
    <form #submitIdeaForm="ngForm">
      <div class="description-container">
        <div class="row info-section-body">
          <div class="idea-info">
            <div id="idea-title">
              <textarea [rows]="1" [cols]="60" pInputTextarea autoResize="autoResize"
                #ideaTitle="ngModel" id="idea-title" required
                aria-describedby="title-error"
                [(ngModel)]="model.title" name="idea-title">
              </textarea>
                <!-- <small id="title-error" *ngIf="ideaTitle.invalid && (ideaTitle.dirty || ideaTitle.touched || isSubmissionButtonClicked)" class="p-error">Idea title is mandatory!</small> -->
            </div>
            <p id="idea-number">{{this.model?.ideaNumber}}</p>
          </div>
          <div id="idea-status">
            <span [ngSwitch]="model.status">
              <p *ngSwitchCase="0" class="waiting-for-approval-category">
                <mat-icon svgIcon="hourglass"></mat-icon>Waiting for approval
              </p>
              <p *ngSwitchCase="1" class="approved-category">
                <mat-icon svgIcon="alert-success"></mat-icon>Approved
              </p>
              <p *ngSwitchCase="2" class="postponed-category">
                <mat-icon svgIcon="clock-24-7"></mat-icon>Postponed
              </p>
              <p *ngSwitchCase="3" class="declined-category">
                <mat-icon svgIcon="abort-frame"></mat-icon>Declined
              </p>
              <p *ngSwitchCase="4" class="implemented-category">
                <mat-icon svgIcon="flag"></mat-icon>Implemented
              </p>
            </span>
          </div>
        </div>
        <div class="row section-body">
          <div class="group-box timeline">
            <p-timeline [value]="timeline" layout="horizontal">
                <ng-template pTemplate="content" let-event>
                    <small *ngIf="event.date !== null" class="p-text-secondary available">{{event.date | date: 'dd.MM.yyyy'}}</small>
                    <small *ngIf="event.date === undefined || event.date === null" class="p-text-secondary">Not available</small>
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                  {{event.text}}
              </ng-template>
            </p-timeline>
          </div>
        </div>
        <div class="row section-body">
          <div class="a-text group-box">
            <label class="special__label">Name of idea owner</label>
            <p>{{model.ideaOwnerDetails?.associateName}}</p>
            <div class="a-toggle" id="is-resposible-toggle">
              <mat-icon svgIcon="box-questionmark"></mat-icon>
              <label class="a-toggle__left-label" id="responisble-toggle__label" for="toggle-default-left-label">
                Is responsible for the implementation
              </label>
              <input #isResponsibleForImplementation="ngModel" [(ngModel)]="model.isAssociateResponsible"
                type="checkbox"
                id="toggle-default-left-label"
                name="toggle-default-left-label"/>
              <label class="a-toggle__box" for="toggle-default-left-label"></label>
            </div>
          </div>
          <div class="department-info">
            <div class=" container a-text group-box-horizontal">
              <div class="row">
                <div class="col-sm a-text horizontal-text-box">
                  <label>Group</label>
                  <p>{{model.ideaOwnerDetails?.group}}</p>
                </div>
                <div class="col-sm a-text horizontal-text-box">
                  <label class="">Group Leader</label>
                  <p>{{model.ideaOwnerDetails?.groupLeaderName}}</p>
                </div>
              </div>
            </div>
            <div class="container a-text group-box-horizontal">
              <div class="row">
                <div class="col-sm a-text horizontal-text-box">
                  <label>Department</label>
                  <p>{{model.ideaOwnerDetails?.department}}</p>
                </div>
                <div class="col-sm a-text horizontal-text-box">
                  <label class="">Department Leader</label>
                  <p>{{model.ideaOwnerDetails?.departmentLeaderName}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row section-body">
          <div class="group-box summary">
            <div class="idea-summary-input">
              <label>Current context</label>
              <div>
                <textarea [rows]="1" [cols]="148" pInputTextarea autoResize="autoResize" class="form-control"
                  #currentContext="ngModel" id="current-context" required
                  [(ngModel)]="model.context" name="current-context">
                </textarea>
                <!-- <small *ngIf="currentContext.invalid && (currentContext.dirty || currentContext.touched || isSubmissionButtonClicked)" class="p-error">Current context is mandatory!</small> -->
              </div>
            </div>
            <div id="context-target-arrow">
              <mat-icon svgIcon="arrow-down-frame"></mat-icon>
            </div>
            <div class="idea-summary-input">
              <label>Target state</label>
              <div>
                <textarea [rows]="1" [cols]="148" pInputTextarea autoResize="autoResize"
                  #targetState="ngModel" id="target-state" required
                  [(ngModel)]="model.target" name="target-state">
                </textarea>
                <!-- <small *ngIf="targetState.invalid && (targetState.dirty || targetState.touched || isSubmissionButtonClicked)" class="p-error">Target state is mandatory!</small> -->
              </div>
            </div>
          </div>
          <div class="a-text group-box summary">
            <div class="a-text categories-title">
              <div class="a-text">
                Categories
                <button title="Add other category" class="add-category-button" (click)="selectOtherCategory()"><mat-icon svgIcon="square-add"></mat-icon></button>
              </div>
              <div *ngIf="model.financialReport?.plannedBalance > 0" class="money-saver">
                <mat-icon svgIcon="bank"></mat-icon>Money saver
              </div>
              <div *ngIf="model.financialReport?.plannedBalance === 0" class="no-money-impact">
                <mat-icon svgIcon="coin"></mat-icon>No monetary impact
              </div>
              <div *ngIf="model.financialReport?.plannedBalance < 0" class="money-spender">
                <mat-icon svgIcon="money-euro"></mat-icon>Money spender
              </div>
            </div>
            <div class="container categories-box">
              <div class="row">
                <button *ngFor="let category of selectedCategories" [ngClass]="category.selected ? 'selected' : 'not-selected'"
                  (click)="selectCategory(category)">{{category.text}}</button>
              </div>
              <div class="row a-text-field other" *ngIf="this.isOtherCategoryDisplayed">
                <div class="other-label">Other: </div>
                <div class="other-category">
                  <input type="text" class="form-control" #currentContext="ngModel" id="other-category" required [(ngModel)]="otherCategoryTitle" name="other-category"/>
                </div>
                <button (click)="addOtherCategory()" class="add-other-category-btn">
                  Add
                </button>
              </div>
            </div>
        </div>
        <div class="a-text group-box summary dates">
          <div class="idea-summary-input-date">
            <label pTooltip="The date when the idea responsible is planning to start implementing the idea"
            tooltipPosition="right">Planned implementation date <strong>*</strong></label>
            <div class="a-text-field">
              <input type="date" class="form-control" (change)="loadTimeline()"
                id="idea-planned-implentation-date" required
                #ideaPlannedImplementationDate="ngModel"
                [ngModel]="model.doDate | date:'yyyy-MM-dd'" (ngModelChange)="model.doDate = $event"
                name="idea-implementation-date" />
            </div>
            <!-- <small *ngIf="ideaPlannedImplementationDate.invalid && (ideaPlannedImplementationDate.dirty || ideaPlannedImplementationDate.touched || isSubmissionButtonClicked)"
                class="p-error">Planned implementation date is mandatory!</small> -->
          </div>
          <div class="idea-summary-input-date">
            <label pTooltip="The actual date when the idea responsible starts implementing the idea"
            tooltipPosition="right">Actual start implementation date <strong>*</strong></label>
            <div class="a-text-field">
              <input type="date" class="form-control" (change)="loadTimeline()"
                id="idea-actual-start-implentation-date" required
                #ideaActualStartImplementationDate="ngModel"
                [ngModel]="model.checkDate| date:'yyyy-MM-dd'" (ngModelChange)="model.checkDate = $event"
                name="idea-actual-start-implementation-date"/>
            </div>
            <!-- <small *ngIf="ideaPlannedImplementationDate.invalid && (ideaPlannedImplementationDate.dirty || ideaPlannedImplementationDate.touched || isSubmissionButtonClicked)"
                class="p-error">Planned implementation date is mandatory!</small> -->
          </div>
          <div class="idea-summary-input-date">
            <label pTooltip="The actual date when the idea responsible finished implementing the idea"
            tooltipPosition="right">Actual implementation date <strong>*</strong></label>
            <div class="a-text-field">
              <input type="date" class="form-control" (change)="loadTimeline()"
                id="idea-actual-implentation-date" required
                #ideaActualImplementationDate="ngModel"
                [ngModel]="model.actDate | date:'yyyy-MM-dd'" (ngModelChange)="model.actDate = $event"
                name="idea-actual-implementation-date"/>
            </div>
            <!-- <small *ngIf="ideaPlannedImplementationDate.invalid && (ideaPlannedImplementationDate.dirty || ideaPlannedImplementationDate.touched || isSubmissionButtonClicked)"
                class="p-error">Planned implementation date is mandatory!</small> -->
          </div>
        </div>
        </div>
        <div class="row section-body">
          <div class="idea-description-box">
            <div id="idea-description-label" class="a-text">Idea Description</div>
            <p-editor id="idea-description-editor" [style]="{'min-height': '400px'}"
            name="idea-description" #ideaDescription="ngModel" [(ngModel)]="model.richTextDescription"></p-editor>
            <!-- (onSelectionChange)="touchDescriptionEditor()" (onTextChange)="touchDescriptionEditor()">
          </p-editor> -->
            <!-- <small *ngIf="(isDescriptionEditorTouched || isSubmissionButtonClicked) && (model.richTextDescription === null || model.richTextDescription === undefined)"
              class="p-error">Description is mandatory!</small> -->
          </div>
          <div class="idea-description-right-column">
            <div class="idea-description-group-box">
              <div class="attachments-header">
                Attachments
                <button class="upload-button"
                  (click)="fileInput.click()">
                  <mat-icon svgIcon="link"></mat-icon>
                  <input type="file" #fileInput placeholder="Choose file" (change)="uploadFile(fileInput.files)" style="display: none;">
                </button>
                <p-progressBar [value]="fileUploadProgress"></p-progressBar>
              </div>
              <ul id="attachment__list">
                <li *ngFor="let attachment of model.attachments" class="attachment__list-item">
                  <div class="attachment">
                    <a (click)="downloadFile(this.model.id, attachment.id, attachment.fileName)" title="Download file">
                      {{attachment.fileName}}
                    </a>
                    <button (click)="removeAttachment(attachment)">
                      <mat-icon svgIcon="close"></mat-icon>
                    </button>
                  </div>
                  <p>
                    Uploaded on: <span>{{attachment.uploadedAt | date:'dd.MM.yyyy'}}</span>
                  </p>
                </li>
                <li *ngFor="let attachment of attachmentList" class="attachment__list-item">
                  <div class="attachment">
                    {{attachment.name}}
                    <button (click)="removeFile(attachment)">
                      <mat-icon svgIcon="close"></mat-icon>
                    </button>
                  </div>
                  <p>
                    Uploaded at: <span>{{currentDate | date:'dd/MM/yyyy'}}</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row section-body">
          <div class="group-box financial-report">
            Financial Report
          <br>
          <div class="financial-report-values planned">
            <div class="">
              <label>Planned Savings</label>
              <div class="a-text-field">
                <input type="number" name="savings" [(ngModel)]="plannedSavings" #savingsInput="ngModel" placeholder="0"/>€
              </div>
              <small *ngIf="plannedSavings < 0 && (savingsInput.dirty || savingsInput.touched)" class="p-error">This value should be non-negative!</small>
            </div>
            <div class="">
              <label>Planned Expenses</label>
              <div class="a-text-field">
                <input type="number" name="savings" [(ngModel)]="plannedExpenses" #expensesInput="ngModel" placeholder="0"/>€
              </div>
              <small *ngIf="plannedExpenses < 0 && (expensesInput.dirty || expensesInput.touched)" class="p-error">This value should be non-negative!</small>
            </div>
            <div class="a-text computed-financial-report">
              <label class="special__label">Planned Balance</label>
              <p>{{(plannedSavings === undefined || plannedExpenses === undefined) ? 0 : (plannedSavings - plannedExpenses)}}€</p>
            </div>
            <div class="a-text computed-financial-report">
              <label class="special__label">Planned Bonus</label>
              <p>{{this.getBonusValue(plannedSavings - plannedExpenses)}}€</p>
            </div>
          </div>
          <div class="financial-report-values actual">
            <div class="">
              <label>Actual Savings</label>
              <div class="a-text-field">
                <input type="number" name="savings" [(ngModel)]="actualSavings" #savingsInput="ngModel" placeholder="0"/>€
              </div>
              <small *ngIf="actualSavings < 0 && (savingsInput.dirty || savingsInput.touched)" class="p-error">This value should be non-negative!</small>
            </div>
            <div class="">
              <label>Actual Expenses</label>
              <div class="a-text-field">
                <input type="number" name="savings" [(ngModel)]="actualExpenses" #expensesInput="ngModel" placeholder="0"/>€
              </div>
              <small *ngIf="actualExpenses < 0 && (expensesInput.dirty || expensesInput.touched)" class="p-error">This value should be non-negative!</small>
            </div>
            <div class="a-text computed-financial-report">
              <label class="special__label">Actual Balance</label>
              <p>{{(actualSavings === undefined || actualExpenses === undefined) ? 0 : (actualSavings - actualExpenses)}}€</p>
            </div>
            <div class="a-text computed-financial-report">
              <label class="special__label">Actual Bonus</label>
              <p>{{this.getBonusValue(actualSavings - actualExpenses)}}€</p>
            </div>
          </div>
          </div>
          <div class="group-box bonus">
            <div class="bonus-label">Bonus</div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              <ng-container matColumnDef="lower-bound">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lower Bound </th>
                <td mat-cell *matCellDef="let element"> {{element.name}}€ </td>
              </ng-container>

              <ng-container matColumnDef="upper-bound">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Upper Bound </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}}€ </td>
              </ng-container>

              <ng-container matColumnDef="award">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Award </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}}€ </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row
              *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{'highlight': (actualSavings === undefined || actualExpenses === undefined) ?
                0 >= row.name && 0 < row.weight :
                (actualSavings - actualExpenses) >= row.name && (actualSavings - actualExpenses) < row.weight}">
            </tr>
            </table>
          </div>
        </div>
        <div *ngIf="this.model.leaderResponses?.length > 0" class="row section-body summary">
          <div class="group-box summary">
            <div class="leader-response --title">
              <div>Leader responses</div>
              <div class="leader-response --container">
                <ul>
                  <li class="response" *ngFor="let response of model.leaderResponses">
                    <div class="leader-response --content">
                      <span [ngSwitch]="response.responseStatus">
                        <mat-icon svgIcon="alert-success" *ngSwitchCase="1"></mat-icon>
                        <mat-icon svgIcon="clock-24-7" *ngSwitchCase="2"></mat-icon>
                        <mat-icon svgIcon="abort-frame" *ngSwitchCase="3"></mat-icon>
                      </span>
                      <label class="leader-response --content" [className]="response.reason !== null ? '--reviewer-top' : '--reviewer-centered'">{{response.reviewerName}} has
                        <span [ngSwitch]="response.responseStatus">
                          <label class="approved-category" *ngSwitchCase="1"><strong>approved</strong></label>
                          <label class="postponed-category" *ngSwitchCase="2"><strong>postponed</strong></label>
                          <label class="declined-category" *ngSwitchCase="3"><strong>declined</strong></label>
                        </span>
                        the idea
                      </label>
                      <label class="leader-response --content --date">{{response.date | date: 'dd.MM.yyyy'}}</label>
                    </div>
                    <p class="leader-response --reason">
                      {{response.reason}}
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row submit-area">
        <button class="form-btn" (click)="saveIdea()">
          <mat-icon svgIcon="save"></mat-icon>
          Save
        </button>
        <button class="form-outlined-btn" (click)="redirectToIdeaDetails()">
          <mat-icon svgIcon="close-blue"></mat-icon>
          Cancel
        </button>
      </div>
    </form>
  </div>
</body>
