<body>
  <div id="empty-row"></div>
  <div class="container home">
    <div class="row home-title">
      <h1 class="title">Continuous Improvement Process</h1>
      <div class="home-buttons">
        <button routerLink="/ideas/all-ideas"><mat-icon svgIcon="globe-blue"></mat-icon></button>
        <button routerLink="/ideas/my-ideas"><mat-icon svgIcon="lightbulb-blue"></mat-icon></button>
        <button routerLink="/ideas/add-idea"><mat-icon svgIcon="add-blue"></mat-icon></button>
      </div>
    </div>
    <div class="row process-description a-box">
      <div>
        <strong>CIP</strong> stands for <strong>C</strong>ontinuous <strong>I</strong>mprovement <strong>P</strong>rocess and
        represents the method by which the management continually improves <i>suitability</i>, <i>adequacy</i> and <i>effectiveness</i>.
        <br>
        <hr class="a-divider" />
        <br>
        Reasons to use the tool:
          <ul class="a-list a-list--check">
            <li>Using this tool, you can improve your job and make it easier.</li>
            <li>
              It makes people accountable. When continuous improvement permeates all levels of your organization,
              it stops being one person’s job and becomes part of everyone’s job.</li>
            <li>
              You will find that once you have established rules and guidelines for your continuous improvement, it will be easier to include it in all aspects of your job.
            </li>
            <li>Your collaborators and employees will benefit from the improvements and increased dynamism that continuous improvement provides.</li>
            <li>The best ideas are rewarded every year in December.</li>
          </ul>
        </div>
    </div>
    <!-- <div class="row">
      <div class="col-md">
        <button routerLink="/add-idea"><mat-icon svgIcon="add"></mat-icon>Add new idea</button>
      </div>
      <div class="col-md">
        <button><mat-icon svgIcon="lightbulb"></mat-icon>My registered ideas</button>
      </div>
      <div class="col-md">
        <button><mat-icon svgIcon="globe"></mat-icon>All registered ideas</button>
      </div>
    </div> -->
  </div>
</body>
